{% extends '@TonishBlog/BaseLayout/layout.html.twig' %}

{% block sidebar %}
    <li class="active"><a href="{{ path('blog_index') }}"><i class="fa fa-user-circle"></i> <span>Articoli</span></a></li>
{% endblock sidebar %}

{% block content_title %}
    <h1>Articoli
        <a class="btn btn-success" href="{{ path('blog_new') }}">Crea Articolo</a>
    </h1>
{% endblock %}

{% block content %}
    <div class="widget">
        <div class="widget-body bg-white">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table class="footable table table-striped table-bordered default">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titolo</th>
                                <th>contenuto</th>
                                <th>Azioni</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for blog in blogs %}
                                <tr>
                                    <td><a href="{{ path('blog_show', { 'id': blog.id }) }}">{{ blog.id }}</a></td>
                                    <td>{{ blog.title }}</td>
                                    <td>{{ blog.content }}</td>
                                    <td>
                                        <div>
                                            <a class="btn btn-info" href="{{ path('blog_show', { 'id': blog.id }) }}">Mostra</a>
                                            <a class="btn btn-primary" href="{{ path('blog_edit', { 'id': blog.id }) }}">Modifica</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}